<!-- <div class="bar bar-header bar-light">
  <h1 class="title">Home page</h1>
</div>

<div class="bar bar-subheader">
  <h1 class="title">Subheader</div>
</div>

<div style="margin-top: 100px;">

  <a href="#/test">
    <button class="button button-block button-positive">
        Testpagina
    </button>
  </a>

</div>

<div class="bar bar-footer bar-balanced">
  <div class="title">Footer</div>
</div> -->

<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  <ion-content>
    <h1 class="title">Test content</h1>
    <p>
      <a href="#/">HOME</a>
      <a href="#/">HOME</a>
      <a href="#/">HOME</a>
    </p>
  </ion-content>
</ion-pane>
